

<include file="Tpl:header" />

<div class="clear"></div>
<div id="content" style="text-align:left;font-size:14px;color:#454545;line-height:16px;">

<p>
<b style="margin-left:40px;">Logo234可视化网址导航-logo之家！</b>是新一代的可视化网址导航，原<b>小蜘蛛可视化网址导航</b>，包含
生活、娱乐、学习、工具箱四大方面，致力于帮助广大网友更高效率的利用互联网、更方便的记忆和选择自己需要的网站！在这里谢谢您的支持！
</p>
<strong>本站网址是：</strong>
<p style="text-align:center;"> <a href="http://www.logo234.com/" alt="小蜘蛛网址导航网" title="去小蜘蛛导航网"><img src="__PUBLIC__/img/logo.gif"  /></a><br/> 
<a href="../index.html" target="_self"><b style="color:#4D9035;">www.logo234.com</b></a><br/>
</p>
<div id="lianxi">
【网址巧记】Logo234、logo之家.<br/>
【邮箱地址】www.sspider.com@gmail.com.<br/>

【微博地址】网易博客：<a href="http://zhangxiaowang0608.blog.163.com/" target="_blank">http://zhangxiaowang0608.blog.163.com/</a> &nbsp; &nbsp; 腾讯微博：<a href="http://t.qq.com/Ss-Sspider" target="_blank">http://t.qq.com/Ss-Sspider</a>. &nbsp; &nbsp;
新浪微博：<a href="http://weibo.com/1939844974" target="_blank">http://weibo.com/1939844974.</a> <br/> 
【QQ交流群】152654500.<br/>
【IN书签】<a href="http://www.inrenren.com" target="_blank">www.inrenren.com</a>.<br/>

【提交网站】<a href="http://weibo.com/1939844974/xrtNFcXn3" target="_blank">http://weibo.com/1939844974/xrtNFcXn3</a>.<br/><br/>

<p>
如果您觉得本站不错，记得和别人分享哦，或者把本站作为您浏览器的主页，我们将不胜感激！<br/>
本站会不断更新升级，欢迎广大网友通过邮件或微博提建议，谢谢！
</p>
</div>
<br/>
<b>收录原则:</b>
<li>网站内容需健康向上,不能有反动、色情、赌博等不良内容或提供不良内容链接，网站名称或内容不得违反国家有关法规；</li>
<li>网站不得含有病毒、木马，弹出插件或恶意更改他人电脑设置及有多个弹窗广告；</li>
<li>本站保留收录决定权，不承诺一定收录；</li>
</p>
</div> 
<include file="Tpl:footer" />
